@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@400&display=swap');

.dropdown {
    display: flex;
    justify-items: left;
    margin-bottom: 59px;

}

.bootcamps-container {
    margin-right: 10px;
}

.down-arrow {
    color: black;
    font-size: 16px;
    background: none;
}

.courses-container select,
.bootcamps-container select {
    width: 80%;

}



.bootcamps-container,
.courses-container {
    border-radius: 56px 0px 0px 56px;
    display: flex;
    align-items: center;
    border: 1px solid #ECECEC;
    color: #757575;
    cursor: pointer;
    width: 315px;
    padding: 24px 36px;
    background-color: white;
}

.courses-container #right,
.bootcamps-container #left {
    color: #000;
}

.bootcamp-label {
    margin-right: 0.5rem;
}

.courses-label {
    margin-right: 0.5rem;
}

.courses-container {
    border-radius: 0px 56px 56px 0px;
}

#left {
    color: #757575;
    font-family: 'Roboto', sans-serif;
    border: none;
    /* appearance: none; */
    outline: 0;
    font-size: 18px;
    line-height: 19px;
    cursor: pointer;
}

#right {
    border: none;
    color: #757575;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 19px;
    outline: 0;
    /* border: 1px solid #ECECEC; */
    border-radius: 0px 56px 56px 0px;

    cursor: pointer;
}