@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@400&display=swap');

body {
    /* padding-top: 10%; */
    background-color: #F8F8F8;
}

.img {
    width: 130px;
    top: 358.87px;
    padding-top: 68.87px;
}

.login-page {
    margin: auto;
    width: 566px;
    height: 549px;
    padding-bottom: 68px;
    font-family: 'Poppins', sans-serif;
    border-style: solid;
    border-color: #F8F8FF;
    border-radius: 37px;
    box-shadow: 0px 3px 8px rgba(38, 38, 38, 0.1);
    background-color: white;
    top: 100px;
}


.maintext {
    margin: 0;
    padding-top: 10%;
    font-size: 30px;
    font-weight: bold;
    color: #323232;

}

.subtext {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #757575;
    ;
    /* line-height: 26px; */
    align-items: center;
    text-align: center;
}

.button-primary-sign-in {
    padding: 2% 10% 2% 10%;
    background-color: white;
    border: 1px solid #D82036;
    border-radius: 30px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #323232;
    line-height: 26px;
    gap: 24px;
    background-image: url(google.png), url(arrow.jpeg);
    background-size: 23px 23px;
    background-position: 5% 50%, 95% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.space {
    padding-top: 10%;
}