.navbar {
    height: 106px;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    border: 1px solid red;
    background-color: #d82036;
}

.team-logo {
    width: 65px;
    height: 65px;
}

.imgx {
    height: 35px;
}