.block{
    box-sizing: border-box;

    margin-bottom: 29px;
    margin-left: auto;
    margin-right: auto;
    width: 1288.39px;
    left: 219.2px;
    top: 276px;

    background: #FFFFFF;
    border: 1px solid #D82036;
    border-radius: 93px;

}

p{
    
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 32px;
    color: #434343;
    
}


.labels{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    padding: 2px 3%;
    
}

.chevron{
    cursor: pointer;
    color: #434343;
    display: inline-block;
}