.block{
    box-sizing: border-box;

    margin-bottom: 29px;
    margin-left: auto;
    margin-right: auto;
    /* display: inline; */
    width: 1288.39px;
    left: 219.2px;
    top: 276px;

    background: #FFFFFF;
    border: 1px solid #D82036;
    border-radius: 93px;

}

p{
    
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 32px;
    color: #434343;
    /* border: 1px solid #D82036; */
    
}
 
.two{
   color: blue;
   /* margin-left: 30%;
   margin-right: 25%;
   text-indent: -80px; */
}


.labels{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    padding: 2px 3%;
    /* display: block; */
    /* border: 1px solid black; */
    
}

.chevron{
    /* border: 1px solid #D82036; */
    cursor: pointer;
    color: red;
    display: inline-block;
    /* left: 100px; */
    /* margin-right: -5%; */
    /* padding-left: 20%; */
}